.dialog-container {
    position: relative;
}

.add-user-progress {
    position: absolute;
    right: 24px;
    left: 24px;
    top: 0;
    width: calc(100% - 48px);
}

.title-add-user {
    text-align: center;
    padding-top: 10px;
}