<h2 mat-dialog-title class="title-add-user">Add user</h2>
<div class="dialog-container">
    <mat-progress-bar class="add-user-progress" *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    <mat-dialog-content>
        <div>
            <mat-form-field class="mr-16" appearance="outline">
                <mat-label>First name</mat-label>
                <input [(ngModel)]="user.firstName" [disabled]="loading" matInput placeholder="Placeholder">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Last name</mat-label>
                <input [(ngModel)]="user.lastName" [disabled]="loading" matInput placeholder="Placeholder">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="outline">
                <mat-label>Birth date</mat-label>
                <input [(ngModel)]="birthDate" [disabled]="loading" matInput [matDatepicker]="picker" required>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field class="mr-16 full-width" appearance="outline">
                <mat-label>Street + House No.</mat-label>
                <input [(ngModel)]="user.street" [disabled]="loading" matInput placeholder="Placeholder">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field class="mr-16" appearance="outline">
                <mat-label>ZIP Code</mat-label>
                <input [(ngModel)]="user.zipCode" [disabled]="loading" matInput placeholder="Placeholder">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>City</mat-label>
                <input [(ngModel)]="user.city" [disabled]="loading" matInput placeholder="Placeholder">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            </mat-form-field>
        </div>

    </mat-dialog-content>
    <mat-dialog-actions>
        <button matButton mat-dialog-close [disabled]="loading">Cancel</button>
        <button matButton mat-dialog-close (click)="saveUser()" cdkFocusInitial [disabled]="loading">Save</button>
    </mat-dialog-actions>
</div>