.dialog-container {
    position: relative;
}

.add-user-progress {
    position: absolute;
    right: 0;
    left: 0;
    top: 0px;
}

.title-add-user {
    text-align: center;
    padding-top: 10px;
}