@import './../styles/shared';

.example-spacer {
    flex: 1 1 auto;
}

.menu-container {
    width: 100%;
    height: 100vh;
}

.sidenav-content {
    @include dFlex($g: 16px);
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 16px;

    .menu-icon {
        &:hover {
            cursor: pointer;
        }
    }
}

.sidenav {
    width: 300px;
    height: 100vh;

    .logo-container {
        padding: 20px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.25);
        height: 64px;
        @include dFlex($jc: flex-start);

        @media (max-width: 600px) {
            height: 56px;
        }

        .logo {
            height: 24px;
            aspect-ratio: 1 / 1;
        }
    }
}

ul {
    list-style-type: none;
    padding: 0;

    >li {
        padding-left: 16px;
        padding-right: 16px;
        height: 48px;
        @include dFlex($jc: flex-start, $g: 4px);
        cursor: pointer;

        &:hover {
            background-color: rgba(0, 0, 0, 0.05);
        }

        a {
            @include dFlex($jc: flex-start, $g: 4px);
            text-decoration: none;
        }
    }
}

.router-container {
    padding: 16px 56px;
}