<mat-drawer-container class="menu-container" autosize>
  <mat-drawer #drawer class="sidenav" [opened]="true" mode="side">
    <div class="logo-container">
      <img class="logo" src="" alt="Logo">
    </div>
    <ul class="list-items">
      <li><a routerLink="/dashboard" routerLinkActive="active"><mat-icon>fact_check</mat-icon>Dashboard</a></li>
      <li><a routerLink="/user" routerLinkActive="active"><mat-icon>perm_identity</mat-icon>User</a></li>
    </ul>
  </mat-drawer>

  <mat-toolbar>
    <div class="sidenav-content">
      <button matIconButton class="menu-icon" type="button" matButton (click)="drawer.toggle()"
        aria-label="icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Simple CRM</span>
      <span class="example-spacer"></span>
    </div>
  </mat-toolbar>

  <div class="router-container">
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>