.user-detail-header {
    min-height: 250px;
    background: green;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 16px;
    padding: 16px;

    .avatar {
        width: 100px;
        aspect-ratio: 1 / 1;
        object-fit: cover;
        border-radius: 100%;
    }

    mat-card-header {
        height: 100px;
        width: 100%;
    }
}

.submenu-button {
    position: absolute;
    top: 16px;
    right: 16px;
    border: unset;
    border-radius: 50px;

    &:hover {
        cursor: pointer;
        background: rgba(0, 0, 0, 0.1);
    }
}