@import './styles/shared';

* {
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mr-16 {
    margin-right: 16px;
}

.mt-32 {
    margin-top: 32px;
}

.full-width {
    width: 100%;
}